@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}


/* header start  */

#home {
    background: linear-gradient(152deg, #fff, #ebf6ff) no-repeat;
}

header {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

header.sticky {
    background: #fff;
    height: 70px;
    border-bottom: 1px solid #DBDED5;
}

header.sticky .nav-link {
    color: #DBDED5;
}


/* navigation here  */

.navbar-brand img {
    width: 120px;
    margin-top: -20px;
}

.logo {
    margin-top: -18px;
}

.main_list {
    padding-left: 250px;
    list-style: none;
    position: relative;
}

.main_list li {
    display: inline-block;
}

.top_list {
    font-size: 16px;
    font-weight: 700;
    padding: 0px 16px;
    display: block;
    color: #000;
    line-height: 60px;
    text-decoration: none;
    border-radius: 6px;
}

.top_list:hover {
    background-color: #F2F6FA;
}


/* dropdown menu  */

.dropdown_products {
    background: #fff;
    position: absolute;
    top: 60px;
    height: 0px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 12px 30px -2px rgba(71, 80, 95, .1), 0 1px 2px rgba(96, 106, 121, .1);
    transition: all .25s ease-out;
    transform: translateY(-10px);
    opacity: 0;
}

.drop_menu:hover>.dropdown_products {
    height: 785px;
    opacity: 1;
}


/* .drop_menu img {
    width: 40px;
} */

.pro {
    width: 10px;
}

.drop {
    text-decoration: none;
}

article {
    align-items: flex-start;
    display: flex;
    text-align: left;
}

.media {
    border-bottom: 1px solid #e8edf1;
    /* padding: 10px 10px; */
}

.media:hover {
    background: #F2F6FA;
}

.media_left {
    /* padding: 5px 5px; */
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.media_content {
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 15px;
}

.media_content h5 {
    color: #000;
    font-weight: 900;
    font-size: 17px;
    opacity: .9;
}

.media_content p {
    font-size: 15px;
    color: #000;
    opacity: .7;
    font-weight: 700;
    margin-top: -10px;
}


/* second dropdown  */

.dropdown_product {
    background: #fff;
    position: absolute;
    top: 60px;
    height: 0px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 12px 30px -2px rgba(71, 80, 95, .1), 0 1px 2px rgba(96, 106, 121, .1);
    transition: all .25s ease-out;
    transform: translateY(-10px);
    opacity: 0;
}

.drop_menu:hover>.dropdown_product {
    height: 180px;
    opacity: 1;
}

.dropdown_product ul {
    list-style-type: none;
    padding-left: 0px;
}

.dropdown_product li {
    display: block;
    background: #fff;
    padding: 10px 20px;
    border-bottom: 1px solid #e8edf1;
}

.dropdown_product li:hover {
    background: #F2F6FA;
}

.dropdown_product li a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
    opacity: .7;
}

.navbar-end {
    margin-left: auto;
    margin-top: -18px;
}

.sign {
    text-decoration: none;
    border: 1px solid #3b78ff;
    color: #3b78ff;
    padding: 8px 16px;
    background: #fff;
    font-weight: 700;
    border-radius: 5px;
}

.sign:hover {
    background: #3b78ff;
    color: #fff;
}

.log {
    text-decoration: none;
    padding: 9px 16px;
    font-weight: 700;
    border-radius: 5px;
    color: #000;
    margin-left: 5px;
}

.log:hover {
    color: #3b78ff;
    background: #F2F6FA;
}


/* home part here  */

.home {
    padding-top: 90px;
    padding-bottom: 160px;
}

.home_left {
    margin-top: 120px;
}

.home_left h1 {
    font-size: 3.3rem;
    font-weight: 900;
    color: #0f224d;
    margin-bottom: 28px;
}

.home_left p {
    font-size: 1.55rem;
    color: #6a7183;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 60px;
}

.home_right {
    margin-top: 30px;
    margin-left: 30px;
}

.start {
    z-index: 100;
    border: 0;
    background: #3b78ff no-repeat;
    background: linear-gradient(90deg, #3b78ff, #0855ff) no-repeat;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1;
    padding: 14px 32px;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0 8px 12px -5px rgba(65, 95, 134, .4);
}

.start:hover {
    transition: box-shadow .1s ease-out;
    box-shadow: 0 14px 12px -5px rgba(65, 95, 134, .4);
    color: #fff;
}

.watch {
    padding: 14px 32px;
    background: #fff;
    color: #000;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
    margin-left: 10px;
    box-shadow: 0 9px 14px -5px rgba(65, 95, 134, .09);
}

.watch:hover {
    box-shadow: 0 14px 12px -5px rgba(65, 95, 134, .4);
    transition: box-shadow .2s ease-out;
}


/* ministry section start  */

.ministry {
    padding-top: 150px;
    padding-bottom: 150px;
}

.ministry h1 {
    color: #0f224d;
    text-align: center;
    font-size: 3.3rem;
    font-weight: 900;
}

.set {
    font-weight: 400;
    opacity: .9;
    line-height: 1.4;
    text-align: center;
    font-size: 1.4em;
    margin-top: 25px;
}

.subscription {
    border-radius: 5px;
    background: #f5efff no-repeat;
    background: linear-gradient(90deg, #f5efff, #eff9ff) no-repeat;
    padding: 50px 30px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.people h3 {
    font-size: 40px;
    text-align: center;
    font-weight: 700;
}

.people p {
    color: #6e8fd8;
    font-style: italic;
    text-align: center;
}

.find p {
    font-size: 18px;
    color: #333333;
    max-width: 28em;
    margin-right: auto;
    margin-bottom: 0.7rem
}

.find a {
    text-decoration: none;
}

.product_list {
    padding: 20px 30px;
}

.product_list h5 {
    color: #444;
    font-size: 30px;
    font-weight: 700;
}

.product_list p {
    color: #323842;
    margin-top: 20px;
}

.product_list a {
    text-decoration: none;
}

.array {
    padding: 10px 10px;
    background: #F2F6FA;
    border-radius: 30px;
    margin-left: 5px;
}

.product_list a:hover>.array {
    transition: all .3s ease;
    transform: translate3D(0, -1px, 0) scale(1.36);
}


/* support section start  */

.support {
    background: #F8FBFF;
    padding-top: 260px;
    padding-bottom: 200px;
}

.ready {
    padding: 35px 30px;
    background: #fff;
    border: 1px solid #ecf2fc;
    box-shadow: 0 8px 16px -2px rgba(222, 232, 248, .4);
    position: relative;
    top: -320px;
    border-radius: 5px;
}

.ready h1 {
    font-weight: 900;
    font-size: 30px;
}

.plan {
    margin-top: 10px;
}

.price {
    padding: 12px 20px;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    border-radius: 6px;
    transition: box-shadow .1s ease-out;
    box-shadow: 0 8px 12px -5px rgba(65, 95, 134, .4);
    background: #3b78ff no-repeat;
    background: linear-gradient(90deg, #3b78ff, #0855ff) no-repeat;
}

.price:hover {
    color: #fff;
    box-shadow: 0 14px 12px -5px rgba(65, 95, 134, .4);
}

.question {
    margin-top: 55px;
}

.question h1 {
    font-size: 3rem;
    font-weight: 900;
    color: #0f224d;
}

.question h2 {
    line-height: 1.61;
    font-weight: 400;
    opacity: .7;
    font-size: 27px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.more {
    text-decoration: none;
    padding: 12px 18px;
    box-shadow: 0 8px 12px -5px rgba(65, 95, 134, .4);
    background: #3b78ff no-repeat;
    background: linear-gradient(90deg, #3b78ff, #0855ff) no-repeat;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
}

.more:hover {
    box-shadow: 0 14px 12px -5px rgba(65, 95, 134, .4);
    color: #fff;
    transition: .5s;
}


/* testimonial section start  */

.testimonial {
    padding-top: 150px;
    padding-bottom: 200px;
}

.testimonial h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    color: #0f224d;
}

.underline {
    margin-left: 505px;
}

.underline hr {
    width: 110px;
    background: #9cb4d6;
    padding: 2px 2px;
    border-radius: 5px;
}

.comment {
    margin-top: 150px;
}

.client {
    border-radius: 5px;
    padding-bottom: 40px;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: 0 3px 4px rgba(227, 230, 235, .5), 0 0 0 1px #e3e6eb;
}

.client p {
    color: #6a7183;
}

.client h5 {
    color: #000;
    font-weight: 700;
    font-size: 17px;
    margin-top: 25px;
}

.clint {
    padding-bottom: 65px;
}

.clints {
    padding-bottom: 60px;
}

.girl-one {
    position: relative;
    top: -42px;
}

.boy {
    position: relative;
    top: -44px;
}

.girl-two {
    position: relative;
    top: -43px;
}


/* free trial section  */

.free {
    padding: 50px 0;
    background: #3bdcc3 no-repeat;
    background: linear-gradient(90deg, #3bdcc3, #31d69a) no-repeat;
}

.free_para h1 {
    font-size: 28px;
    line-height: 1.4;
    color: #fff;
    font-weight: 900;
}

.free_button {
    margin-top: 30px;
    margin-left: 50px;
}

.trial {
    padding: 14px 24px;
    border: 2px solid #f2f2f2;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    font-weight: 900;
    box-shadow: 0 5px 5px rgba(85, 88, 93, .3);
    font-size: 19px;
}

.trial:hover {
    background: rgba(85, 88, 93, .05);
    border-color: #fff;
    color: #fff;
    box-shadow: 0 10px 10px rgba(85, 88, 93, .3);
}


/* footer section  */

footer {
    background: #192338;
    padding-top: 56px;
    padding-bottom: 0;
}

.footer_list ul {
    list-style-type: none;
    margin-left: 240px;
    padding-bottom: 40px;
}

.footer_list ul li {
    display: inline-block;
}

.footer_list ul li a {
    text-decoration: none;
    padding: 5px 10px;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
}

.footer_list ul li a:hover {
    color: rgb(108, 108, 231);
}

.social_link {
    border-top: 1px solid #0c1322;
    background: linear-gradient(90deg, #192338, #1a2847, #192338);
}

.social_link ul {
    list-style-type: none;
    margin-left: 435px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.social_link ul li {
    display: inline-block;
}

.social_link li a {
    text-decoration: none;
    padding: 5px 20px;
    font-size: 22px;
    color: #fff;
    opacity: 0.7;
}

.social_link ul li a:hover {
    transition: .5s;
    opacity: 1;
}